/* Header */
.header {
    border-bottom: 1px solid var(--header-border-color);
    position: relative;
    @media screen and (max-width:767px) {
        padding-top: 16px;
        padding-bottom: 16px;
    }

    @media screen and (min-width:768px) {
        min-height: 60px;
    }
}

.main-nav, .sub-nav {
    @media screen and (min-width:768px) {
        @include centeredFlex($jc: null);
    }   
}

.site-nav {
    display: flex;
    @media screen and (max-width:767px) {
        // margin-bottom: 306px;
        flex-direction: column;
        align-items: start;
    }
}

.site-nav__item:not(:last-child) {
    @media screen and (max-width:767px) {
        margin-bottom: 30px;
    } 
}

.site-nav__item + .site-nav__item {
    @media screen and (min-width:768px) {
    margin-left: 50px;
    } 
}


.site-nav__link {
    display: block;

    color: var(--title-text-color);
    @include font(40, 500, 1.17, 0.02em);

    @media screen and (min-width:768px) {
        @include font(14, 500, 1.14, 0.02em); 
        padding-top: 32px;
        padding-bottom: 32px;
    }
}

.site-nav__link--current {
    color: var(--accent-color);

    @media screen and (min-width:768px) {
        position: relative;

    &::after {
        position: absolute;
        bottom: -1px;
        left: 0;
        width: 100%;
        height: 4px;
        content: "";

        background-color: var(--accent-color);
        border-radius: 2px;
    }    
    } 
}

.contact-list {
    margin-left: auto;
    display: flex;
    
    @media screen and (max-width:767px) {
        margin-bottom: 64px; 
        flex-direction: column-reverse;
    }
    
    @media screen and (min-width:768px) {
        @include centeredFlex($jc: null);
        margin-left: auto;
    }

    @media screen and (min-width:768px) and (max-width:1199px) {
        flex-direction: column;
        padding-top: 21px;
        padding-bottom: 21px;
    }
}

.contact-list__item:last-child {
    @media screen and (max-width:767px) {
        margin-bottom: 32px;
    }
}

.contact-list__item:not(:last-child) {
    @media screen and (min-width:768px) and (max-width:1199px) {
        margin-bottom: 10px;
    }

    @media screen and (min-width:1200px) {
        margin-right: 40px;
    }
}

.contact-list__link {
    @include centeredFlex($jc:null);
    color: var(--primary-text-color);
    @include font(24, 500, 1.17, 0.02em);

    @media screen and (min-width:768px) {
        @include font(12, 500, 1.16, 0.02em);
    }

    @media screen and (min-width:1200px) {
        padding-top: 32px;
        padding-bottom: 32px; 
        @include font(14, 500, 1.14, 0.02em);
    }
}

.contact-list__link--mobile-accent {
    @media screen and (max-width:767px) {
        color: var(--accent-color);
        @include font(34, 500, 1.18, 0.02em);
    }
}

.contact-list__icon {
    margin-right: 10px;
}

.site-soc {
    @include centeredFlex($jc: null);
    
    @media screen and (min-width:768px) {
        display: none;
    }
}

.site-soc__item:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.site-soc__link {
    color: var(--accent-color);
    padding: 10px;
    @include font(18, 500, 1.22, 0.02em);
}
