/* Hero */
.hero {
    background-color: #C4C4C4;
    text-align: center;
    padding: 200px 0;
    margin: 0 auto;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    margin: 0 auto 30px;
    width: 696px;

    color: var(--light-text-color);
    @include font(44, 900, 1.36, 0.06em);
    text-transform: uppercase;
}