/* Hero */
.hero {
    background-color: #C4C4C4;
    text-align: center;
    padding: 118px 0;
    margin: 0 auto;
    max-width: 1600px;

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd-mob.jpg);
    @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd-mob-2x.jpg);
    }
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media screen and (min-width:768px) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd-tab.jpg); 
        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd-tab-2x.jpg);
        }   
    }
    @media screen and (min-width:1200px) {
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd.jpg);
        @include retina {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/herobgd-2x.jpg);
        }
    }
}

.hero__title {
    margin: 0 auto 30px;
    width: 360px;
    color: var(--light-text-color);
    @include font(26, 900, 1.6, 0.06em);
    text-transform: uppercase;

    @media screen and (min-width:1200px) {
        width: 696px;
        @include font(44, 900, 1.36, 0.06em);        
    }
}