.logo {
    font-family: 'Raleway', sans-serif;
    color: var(--accent-color);
    @include font(24, 700, 1.17, 0.03em);

    @media screen and (min-width:768px) {
        margin-right: 88px;        
    }
    @media screen and (min-width:1200px) {
        margin-right: 93px;
        @include font(26, 700, 1.19, 0.03em);
    }
}

.logo-header {
    color: var(--dark-text-color);
}

.footer-logo {
    margin-right: 0;
    display: inline-block;
    margin-bottom: 28px;
}

.logo-footer {
    color: var(--light-text-color);
}